html
{
    scroll-behavior: smooth;
}
body
{
    background-color: rgb(255, 255, 255);
}

div.footer
{
    position: bottom;
    padding: 20px;
    width: 100%;
    background-color: #000080;
    color: #ffffff;
    text-align: center;
}

img
{
	width: 100%;	
}

.navbar{
    background-color: #000080;
    opacity: 0.9;
}
.nav.navbar-nav .navbar-right li a {
    color: #ffffff;
    text-align: center;
}

.nav.navbar-nav li a:hover {

    background-color: #ffffff;
}

.nav.navbar-nav li a:visited {

    background-color: #49012b;
}

.nav.navbar-nav li a:active {

    background-color: #ffffff;
}